# Virtual envs
.env/
env/
.venv/
venv/
ENV/
env.bak/

# Python build / packaging
*.pyc
__pycache__/
*.egg-info/
build/
dist/

# Test / coverage / pytest
.pytest_cache/
coverage.xml
pytest.xml

# Editor 
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# OS
Thumbs.db